@charset "UTF-8";

:root {
  font-family: "DotGothic16", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: 400;
  font-style: normal;

}

body {
  background: radial-gradient(#F2B9A1, #62eac4 ) 

}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

/*
モーダルウィンドウのスタイル
*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}

.modal.is-active{
  opacity: 1;
  visibility: visible;
}

.modal-container{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 600px;
  width: 90%;
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.modal-content{
  background: #fff;
  text-align: left;
  line-height: 1.8;
  padding: 20px;
}

.modal-message{
  margin: 1em 0;
}



/*
検索フォームとランダムボタンのスタイル
*/
.wrapper {
  text-align: center;
  width: 300px;
  padding: 30px;
  margin: 0 auto;
}

#js-poke-form {
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
}

#search-btm {
  background-color: lightskyblue;
  width: px;
  height: 35px;
  border-radius: 4px;
}

#search-btm:hover {
  cursor: pointer;
}

p.poke-name-english {
  text-align: center;
  width: max-content;
  margin:0 0 20px 0;
  font-size: 16px;
  font-weight: bold;
}

#random-btm {
  background-color: lightgrey;
  padding: 10px 20px;
  border-radius: 4px;
  border: gray 2px solid;
}

#random-btm:hover {
  cursor: pointer;
}

#random-btm:active {
  background-color: grey;
}




/*
ポケモン一覧表示のスタイル
*/
#pokemon {
  background-color: #dee8f1;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
}

#pokemon img {
  width: 180px;

}

.card {
  list-style: none;
  padding: 40px;
  background-color: #ffffff ;
  color: #000000 ;
  display: grid;
  border-radius: 50%;
}


.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin: 0;;
  text-align: center;
}

.card-subtitle {
  font-weight: lighter;
  color: #000000 ;
  margin-top: 5px;
  text-align: center;
}

.card-image {
  height: 180px;
  margin: 0 auto;
}
#pokedex  {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

